<div class="page-header">
  <%= link_to services_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_service_path(@service), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @service.name %></h1>
</div>

<h3>Versions</h3>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Environments</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, order_versions(@service.versions)) do |version| %>
        <td><%= version.name %></td>
        <td><%= version.environments.map { |e| e.name }.to_sentence %></td>
      <% end %>
      <tr>
  <%= form_for(:version, url: { controller: 'services', action: 'add_version'}, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <td><%= f.text_field :name, class: "form-control" %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <div class="col-sm-offset-10 col-sm-2">
      <%= f.submit 'Add Version', class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>

<%= form_for(:load_versions, url: { controller: 'services', action: 'load_version'}, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= f.collection_select :name, @jobs, :name, :name, class: 'selectpicker' %>
  <%= f.submit 'Load Versions', class: "btn btn-primary" %>
<% end %>
