<%= form_for(@deployment, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @deployment.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@deployment.errors.count, "error") %> prohibited this deployment from being saved:</h4>

      <ul>
      <% @deployment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :environment_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :environment_id, Environment.all, :id, :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<h3>Services</h3>

<% @deployment.versions.each do |version| %>
  <%= form_for(version.service, url: { action: 'add_service' }, html: { class: "form-horizontal", role: "form", method: 'post' }) do |s| %>
    <div class="form-group">
      <label for="service" class="col-sm-2 control-label">Service: </label>
      <div class="col-sm-6">
        <%= s.text_field :name, id: :id, class: 'col-sm-12', readonly: true %>
      </div>
      <div class="col-sm-2">
        <%= s.collection_select :id, version.service.versions, :id, :name, class: 'selectpicker job_selection' %>
      </div>
      <div class="col-sm-1">
        <%= link_to 'x', {:controller => 'deployments', :action => 'remove_service', service_id: version.service.id, version_id: version.id }, {:method => :post } %>
      </div>
    </div>
  <% end %>
<% end %>


<% if @deployment.id %>
  <%# Add Service %>
  <%= form_for(:service, url: { action: 'add_service' }, html: { class: "form-horizontal", role: "form", method: 'post' }) do |s| %>
    <div class="form-group">
      <label for="service" class="col-sm-2 control-label">Service: </label>
      <div class="col-sm-5">
        <%= s.collection_select :id, Service.all, :id, :name, class: 'selectpicker job_selection' %>
      </div>
      <%# <div class="col-sm-5"> %>
      <%#   <%= s.text_field 'version', class: 'selectpicker job_selection' %1> %>
      <%# </div> %>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= s.submit 'Add Service', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="form-group">
    <div class="col-md-12">
      <em>Must specify the deployment's environment before attaching services</em>
    </div>
  </div>
<% end %>
