<div class="page-header">
  <%= link_to new_deployment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Deployment
  <% end %>
  <h1>Listing deployments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Environment</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @deployments) do |deployment| %>
        <td><%= deployment.name %></td>
        <td><%= deployment.environment.name %></td>
        <td class="text-<%= deployment.status ? 'success' : 'failure' %>"><%= deployment.status ? 'Deployed' : 'Pending'%></td>
        <td><%= link_to 'Show', deployment %></td>
        <td><%= deployment.status ? 'Cannot Edit' : link_to('Edit', edit_deployment_path(deployment)) %></td>
        <td><%= deployment.status ? 'Cannot Destroy' :link_to('Destroy', deployment, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      <% end %>
    </tbody>
  </table>
</div>
