<div class="page-header">
  <%= link_to deployments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_deployment_path(@deployment), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end unless @deployment.status %>
  <h1>Deployment to <%= @deployment.environment.name %></h1>
  <h3 class="text-<%= @deployment.status ? 'success' : 'failure' %>">Status: <%= @deployment.status ? 'Deployed' : 'Pending'%></h3>
</div>


<%= link_to deploy_path(@deployment), method: :post, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Deploy
<% end unless @deployment.status %>

<h3>Services</h3>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Deployment Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @deployment.versions.each do |version| %>
        <tr>
          <td><%= version.service.name %></td>
          <td><%= version.name %></td>
          <td><%= version.deployment_status @deployment %></td>
          <td><%= link_to 'Edit', version.service %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @deployment.versions.empty? %>
  <div class="form-group">
    <div class="col-md-12">
      <em><%= link_to 'Edit', edit_deployment_path(@deployment) %> deployment to add Services and Versions to Deploy</em>
    </div>
  </div>
<% end %>
